node_modules/
**/node_modules/

.expo/
**/.expo/
apps/mobile/ios/
apps/mobile/android/
**/build/
**/dist/
**/.cache/
**/*.tsbuildinfo

*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example
*.local
